@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap");

@font-face {
	font-family: "norsebold";
	src: url("../fonts/norse-bold-webfont.woff2") format("woff2"),
		url("../fonts/norse-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	font: 1rem "Roboto", sans-serif;
	min-width: 360px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

button,
label,
input {
	display: block;
	border-radius: 5px;
	font-family: inherit;
	font-size: 100%;
}

input {
	padding: 0;
	border: 0;
	box-shadow: inset 1px 1px 3px #ccc;
	border: 2px solid silver;
}

input:hover,
input:focus {
	background-color: #eee;
	padding: 1px;
	border: 1px solid blue;
	outline: none;
}

input:required:invalid + span::after {
	font-size: 0.7rem;
	position: absolute;
	content: "required";
	color: white;
	background-color: black;
	padding: 4px 10px;
	top: -0.4rem;
	right: 0;
	border-radius: 5px;
}

button {
	color: #fff;
	background-color: rgb(89, 109, 72);
	padding: 10px 30px;
	border: none;
	margin: 0 auto;
	cursor: pointer;
}

.container__item {
	flex: 1;
}

.image {
	position: relative;
	background: center / cover no-repeat
		url(../images/halie-west-25xggax4bSA-unsplash.jpg);
}

.logo-container {
	position: absolute;
	top: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.logo {
	height: 10rem;
}

.logo-text {
	color: #fff;
	margin: 0;
	font: 8rem "norsebold", cursive, sans-serif;
}

.mobile-text-container {
	position: absolute;
	text-align: center;
	top: 45%;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}

.mobile-text-container p {
	padding: 1rem;
}

.mobile-text-container p:nth-child(2) {
	text-align: center;
}

button:hover {
	background-color: rgb(105, 127, 86);
}

.log-in-text {
	text-align: center;
	font-size: 0.8rem;
	font-weight: 700;
}

.form-submit > .log-in-text a {
	color: #000;
	text-decoration: none;
}

.image-credit {
	position: absolute;
	color: #fff;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.image-credit a {
	color: #fff;
	text-decoration: none;
}

.content {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.close-btn.hidden {
	display: none;
}

.presentation {
	max-width: 575px;
}

.presentation__text {
	text-align: center;
}

.form__heading {
	text-align: center;
}

.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 575px;
	margin-bottom: 1.5rem;
}

.section__item {
	position: relative;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

/* Validation */

input.valid {
	border: 1px solid green;
}

input.invalid {
	border: 1px solid red;
}

/* Mobile Styles */
@media only screen and (max-width: 414px) {
	.content.hidden,
	.mobile-text-container.hidden,
	.mobile-sign-up.hidden,
	.image.hidden,
	.presentation__text.hidden {
		display: none;
	}

	.log-in-text a {
		color: #fff;
		text-decoration: none;
	}

	.close-btn {
		position: absolute;
		width: 40px;
		top: 2rem;
		right: 2rem;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 415px) and (max-width: 960px) {
	.mobile-text-container {
		display: none;
	}

	.presentation {
		margin: 0 auto;
	}

	.presentation__text {
		text-align: center;
		max-width: 575px;
		padding: 0 1.5rem;
		margin: 0 0 1rem;
	}

	.form__heading {
		text-align: center;
	}

	.section {
		margin: 0 auto;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	body {
		display: flex;
		flex-direction: row;
	}

	button {
		margin: 0;
	}

	.mobile-text-container {
		display: none;
	}
	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 2rem;
	}

	.presentation {
		width: 85%;
	}

	.presentation__text {
		text-align: left;
		margin: 0 0 1rem;
	}

	.form {
		display: flex;
		flex-direction: column;
		margin: 0;
		min-width: 65%;
	}

	.section {
		justify-content: space-between;
	}

	.section__item:nth-of-type(odd) {
		margin-right: 1rem;
	}
}
